% include('view/header.tpl')

<body>

% include('view/nav.tpl')


  <!-- Page Content -->
  <div class="container">

    <div class="row page-content">

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-3">
        <div class="sidebar">
          <!-- Subscription widget -->
          <!--/.Subscription widget -->
          <br>
          <!-- Category widget -->
          <div class="collection">
            <a href="#!" class="collection-item">Une page</a>
            <a href="#!" class="collection-item">Une autre page</a>
            <a href="#!" class="collection-item">Encore une page</a>
          </div>

        </div>
      </div>

      <div class="col-md-9">


        <!-- Page Features -->
        <div class="row text-center">

          <!-- Blog Post -->

        <!-- Title -->
        <h1>Ouverture du site</h1>

        <!-- Author -->
        <p class="lead">
          by <a href="#">Benjamin Vianey</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on March 3, 2016 at 1:25 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive z-depth-2" src="img/cailloux1.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">Même s'il est toujours en travaux, le site vient officiellement de prendre vie !</p>
        <p>Il reste beaucoup de travail à faire, mais voici déjà une maquette que j'améliorerais de jour en jour, jusqu'à l'obtention de notre produit final. Bien entendu, j'ai besoin de vos retours, sur facebook, ou par email !</p>




      </div>

        </div>
        <!-- /.row -->

      </div>

    </div>

  </div>
  <!-- /.container -->

  <div class="container">

    <hr>

  </div>
  <!-- /.container -->



  % include('view/footer.tpl')
